spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://hopper.proxy.rlwy.net:27986/railway
    username: postgres
    password: hmONgWuEJEgwfmfkCpYWklZHtEonFXwI

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

app:
  jwt-secret: 5e6e0cf10a57c6b4e5b5a0e5ecb415bca702d9173e0fe90f2d9d6096b813d054
  jwt-expiration-time: 3600000
  upload:
    dir: uploads